<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>763669246016-voc09npmhlofbggop0sp2ot7l0v2rm4k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.763669246016-voc09npmhlofbggop0sp2ot7l0v2rm4k</string>
	<key>API_KEY</key>
	<string>AIzaSyDtK3CSOHmK9UV8XgDjrxAn0myUvTzdA2Y</string>
	<key>GCM_SENDER_ID</key>
	<string>763669246016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xyz.karimkfoure.FirebaseDemo</string>
	<key>PROJECT_ID</key>
	<string>indigital-challenge</string>
	<key>STORAGE_BUCKET</key>
	<string>indigital-challenge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:763669246016:ios:22eb1626fccda94daf6fa5</string>
</dict>
</plist>